package json;

/**
 * ====================================
 * ENUMS
 * ====================================
 */

/**
 * ====================================
 * TYPES
 * ====================================
 */

/**
 * ====================================
 * INTERFACES
 * ====================================
 */

/**
 * ====================================
 * CLASSES
 * ====================================
 */
@:include("${JSON_HOME}/json.h")
@:native("json::jobject")
@:stackOnly
extern class JObjectNative {
	public function hasKey(key:cpp.StdString):Bool;
	public function toMap():Map<cpp.StdString, cpp.StdString>;
	public function get(key:cpp.StdString):ProxyNative;
}

@:include("${JSON_HOME}/json.h")
@:native("json::proxy")
extern class ProxyNative {
	public function toStr():cpp.StdString;
    public function toInt():Int;
	public function toFloat():cpp.Float32;
	public function toBool():Bool;
	public function toObject():JObjectNative;
	public function toObjectArray():Array<JObjectNative>;
}

@:include("${JSON_HOME}/json.h")
@:native("json::Json")
extern class JsonNative {
	public static function parse(text:cpp.StdString):JObjectNative;
}

/**
 * ====================================
 * PROXIES
 * ====================================
 */
@proxy("json::jobject") abstract JObject(cpp.Pointer<JObjectNative>) {
	public function hasKey(key:String):Bool { return false; }
	public function toMap():Map<String, String> { return null; }
	public function get(key:String):Proxy { return null; }
}

@proxy("json::proxy") abstract Proxy(cpp.Pointer<ProxyNative>) {
	public function toStr():String { return ""; }
    public function toInt():Int { return 0; }
	public function toFloat():cpp.Float32 { return 0.0; }
	public function toBool():Bool { return false; }
	public function toObject():JObject { return null; }
	public function toObjectArray():Array<JObject> { return null; }
}

@proxy("json::Json") abstract Json(cpp.Pointer<JsonNative>) {
	public static function parse(text:String):JObject { return null; }
}