package json;

/**
 * ====================================
 * ENUMS
 * ====================================
 */

/**
 * ====================================
 * TYPES
 * ====================================
 */

/**
 * ====================================
 * INTERFACES
 * ====================================
 */

/**
 * ====================================
 * CLASSES
 * ====================================
 */
@:include("${JSON_HOME}/json.h")
@:native("json::jobject")
@:stackOnly
extern class JObjectNative {
	public static function OptionalBool(obj:JObjectNative, key:cpp.StdString, fallback:Bool):Bool;
	public static function OptionalInt(obj:JObjectNative, key:cpp.StdString, fallback:Int):Int;
	public static function OptionalString(obj:JObjectNative, key:cpp.StdString, fallback:cpp.StdString):cpp.StdString;
	public static function OptionalFloat(obj:JObjectNative, key:cpp.StdString, fallback:cpp.Float32):cpp.Float32; 
	public function hasKey(key:cpp.StdString):Bool;
	public function toMap():Map<cpp.StdString, cpp.StdString>;
	public function get(key:cpp.StdString):ProxyNative;
}

@:include("${JSON_HOME}/json.h")
@:native("json::proxy")
@:stackOnly
extern class ProxyNative {
	public function key(k:cpp.StdString):ProxyNative;
	public function index(i:Int):ProxyNative;
	public function toStr():cpp.StdString;
    public function toInt():Int;
	public function toFloat():cpp.Float32;
	public function toBool():Bool;
	public function toObject():JObjectNative;
	public function toObjectArray():Array<JObjectNative>;
}

@:include("${JSON_HOME}/json.h")
@:native("json::Json")
extern class JsonNative {
	public static function parse(text:cpp.StdString):JObjectNative;
}

/**
 * ====================================
 * PROXIES
 * ====================================
 */
@proxy("json::jobject") abstract JObject(cpp.Pointer<JObjectNative>) {
	public static function OptionalBool(obj:JObject, key:String, fallback:Bool):Bool { return false; }
	public static function OptionalInt(obj:JObject, key:String, fallback:Int):Int { return 0; }
	public static function OptionalString(obj:JObject, key:String, fallback:String):String { return ""; }
	public static function OptionalFloat(obj:JObject, key:String, fallback:cpp.Float32):cpp.Float32 { return 0.0; }
	public function hasKey(key:String):Bool { return false; }
	public function toMap():Map<String, String> { return null; }
	@:op([]) public function get(key:String):Proxy { return null; }
}

@proxy("json::proxy") abstract Proxy(cpp.Pointer<ProxyNative>) {
	@:op([]) public function key(k:String):Proxy { return null; }
	@:op([]) public function index(i:Int):Proxy { return null; }
	@:to public function toStr():String { return ""; }
    @:to public function toInt():Int { return 0; }
	@:to public function toFloat():cpp.Float32 { return 0.0; }
	@:to public function toBool():Bool { return false; }
	@:to public function toObject():JObject { return null; }
	@:to public function toObjectArray():Array<JObject> { return null; }
}

@proxy("json::Json") abstract Json(cpp.Pointer<JsonNative>) {
	public static function parse(text:String):JObject { return null; }
}